body {
  padding: 10px;
  font-family: sans-serif;
}


/* Texto responsive  */
@media (max-width: 576px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .zoom-it:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }
}